<h2 class='text-center'><%= @question_queue.category.titleize %> Questions</h2>
<p>Add a new question to this queue:</p>
<%= render partial:'shared/question_form', locals:{question:@question} %>
<% if @question_queue.category == "heartbeat" %>
  <p>The heartbeat question is special in that it is repeated every week. To pick a new heartbeat question, move a new question to the top of the queue.</p>
<% end %>
<table class='table table-hover'>
  <tbody id="question_queue_questions" data-id="<%= @question_queue.id %>">
    <% @question_queue.questions_ordered.each do |question| %>
      <tr data-question-id="<%= question.id %>">
        <td><%= question.text %></td>
        <td><%= link_to "edit", edit_question_path(question) %></td>
        <td><%= button_to "delete", questions_path(question), method: :destroy, class:'btn btn-small btn-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<input type="hidden" id="question_queue_question_order" value="<%= @question_queue.question_order %>"></input>